body {
  background-color: #F60;
}

h2, h6 {
  text-align: center;
}

#results {
  display: none;
  padding: 10%;
}

input[type=text]{
  border-radius:10px;
  width: 125px; /* change the input field size!!! */
}
